<table>
  <tr>
    <th>Enviado por</th>
    <th>Mensaje</th>
    <th>Fecha</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.sender_name %></td>
      <td><%= message.body %></td>
      <td><%= message.created_at&.strftime('%H:%M %p %d/%m/%Y') %></td>
    </tr>
  <% end %>
</table>
